.brand {
  padding: 8rem 0;

  @media screen and (max-width: 768px) {
    padding: 6rem 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 120rem;
  }

  &__title {
    margin: 0;
    font-family: var(--font-1);
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    color: var(--text-color);

    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }

  &__image {
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
