.select {
  position: relative;
  width: 100%;
  z-index: 10;

  &__current {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 5.6rem;
    color: rgb(255, 255, 255, 70%);
    background: rgb(0, 0, 0, 10%);
    border: 1px solid rgb(255, 255, 255, 30%);
    cursor: pointer;
    user-select: none;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 0.4rem);
    left: 0;
    display: none;
    width: 100%;
    background: var(--contrast);
    border: 1px solid rgb(255, 255, 255, 30%);
    z-index: 100;

    li {
      padding: 1.4rem 2rem;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: #1c5fa0;
      }
    }
  }

  &.open &__dropdown {
    display: block;
  }

  &__error {
    display: none;
    margin-top: 0.4rem;
    font-size: 1em;
    font-weight: normal;
    color: #dc3232;
  }

  &.error {
    .select__error {
      display: block;
    }
  }
}
